@charset "UTF-8";
/**
 * main.scss
 *
* Never add styles directly to this file - set up imports
 */
 
 
/* ==========================================================================
   Imports
   ========================================================================== */

/* Normalize
   ========================================================================== */
@import "vendor/normalize";

/* Bourbon
   ========================================================================== */
 
@import "bourbon/bourbon";
@import "neat/neat";
 
/* Setup base 
   ========================================================================== */
 
@import "partials/base";
$bags: #000000;

body {
	color: $bags;
	margin-top: 20px;
}
